    <ng-container *ngIf="authIsLoaded">
         <button *ngIf="!isLoggedIn" (click)="signIn()">Sign In With Google</button>
        <button *ngIf="isLoggedIn" (click)="signOut()">Sign Out</button>
    </ng-container>
    <header>
        <h2>Youtube Search videos</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <input type="search" ngModel name="search"/>
            <button class="btn btn-primary" type="submit" >Search</button>
        </form>
        <a (click)="logOut()">Log Out</a>
    </header>
    <main  *ngFor="let item of youtubeVideos" >
        <div class="col-breaker"></div>
        <div class="mainData">
            <h3>{{item.Title}}</h3>
            <figure >
                <img appLazyLoad src="{{item.Thumbnail}}" alt="{{item.Title}}">
            </figure>
            <button type='button' class="btn" (click)="details(item.VideoId)">
                View More
            </button>
        </div>
        <div class="col-breaker" id="trigger"></div>
    </main>
    
    